@import './reset';
@import './fonts';
@import './components/Header';
@import './components/StoriesPanel';
@import './components/Story';

body {
  padding: 1.5rem;
  margin: 0 auto;
}

.hn-Container {
  width: 100%;
}

a {
  text-decoration: none;
}

