$default-font-family: Verdana, Geneva, sans-serif;

$x-small-font-size: .75rem;

$small-font-size: .875rem;
$small-line-height: 1rem;

$normal-font-size: 1rem;
$normal-line-height: 1.5rem;

$medium-font-size: 1.25rem;
$medium-line-height: 1.875rem;

$large-font-size: 1.3125rem;
$large-line-height: 2rem;

$x-large-font-size: 1.625rem;

$grey-color: #828282;

$standard-spacing: 1.5rem;