@import '../variables.scss';


.hn-StoryList {
  list-style-type: none;
  counter-reset: numbered-list;
  
  &Item {
    font-family: $default-font-family;
    padding: .5rem 0;

    &:before {
      counter-increment: numbered-list;
      content: counter(numbered-list) ".";
      font-size: $normal-font-size;
      line-height: $normal-line-height;
      float: left;
    }

    &__Subcontainer {
      margin-left: 2.5rem;
    }

    &__Title {
      font-size: $normal-font-size;
      line-height: $normal-line-height;
      margin-right: 1rem;
      color: #000000;
    }

    &__Url {
      font-size: $x-small-font-size;
      color: $grey-color;
    }

    &__Details {
      font-size: $small-font-size;
      line-height: $small-line-height;
      display: block;
      color: $grey-color;
      margin-top: .25rem;
    }
  }
}